<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="warn"
      internalLogFile="c:\temp\nlog-internal.log">

  <!-- habilitar renderizadores de diseño central de asp.net -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <!-- Define las variables para el directorio y el nombre del archivo de registro -->
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="logFileName" value="${shortdate}.log" />

  <!-- Define los objetivos de registro -->
  <targets async="true">
    <!-- Escribe los registros en la consola -->
    <target
      name="console"
      xsi:type="Console"
      layout="${MicrosoftConsoleLayout}"
      />
      <!-- Escribe los registros en un archivo -->
    <target
      name="file"
      xsi:type="File"
      fileName="${logDirectory}/${logFileName}"
      layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}"
      archiveAboveSize="1048576"
      maxArchiveFiles="5"
      archiveNumbering="Sequence"
      archiveEvery="Day"
      />
    <!-- Envía los registros por correo electrónico -->
    <target
      name="email"
      xsi:type="Mail"
      layout="${message}${newline}"
      smtpServer="smtp.gmail.com"
      smtpPort="587"
      smtpAuthentication="Basic"
      smtpUsername="christian.bx100pre@gmail.com"
      smtpPassword="rmulecksjjrpncca"
      enableSsl="false"
      from="christian.bx100pre@gmail.com"
      to="cristiansimonbravo@gmail.com"
      subject="Web Api LyB Error: ${guid}"
      body="
      message: ${message}${newline}
      logger: ${logger}${newline}
      exception: ${exception:format=tostring}${newline}
      hostName: ${aspnet-request-host}${newline}
      url: ${aspnet-request-url}${newline}
      action: ${aspnet-mvc-action}${newline}
      callSite: ${callsite}${newline}
      ip: ${aspnet-request-ip}${newline}
      stackTrace: ${stacktrace:format=DetailedFlat"
      >
    </target>
  </targets>

  <!-- Define las reglas para procesar los registros -->
  <rules>
    <!-- Procesa los registros de Microsoft y escribe en la consola (final="true" para no procesar por otras reglas) -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="console" final="true" />
    <!-- Procesa todos los demás registros con un nivel de gravedad de "Debug" o superior y escribe en el archivo -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <!-- Procesa los registros con un nivel de gravedad de "Error" o superior y envía por correo electrónico -->
    <logger name="*" minlevel="Error" writeTo="email" />
  </rules>
</nlog>

